.contNotif {
    display: grid;
    grid-template-rows: 30% 70%;
    height: 100%;
}

.headNotif {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    background-color: #132127;
    align-items: center;
    flex-wrap: wrap;
}

.headNotif img {
    height: 8rem;
}

.headNotif ol {
    display: grid;
    justify-content: center;
    gap: 1rem;
}

.headNotif li {
    color: white;
    font-weight: 600;
    list-style: none;
}

.notifBodyCont {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
}
.notifSide{
    height: 100%;
    width: 100%;
    background-color: #132127;
    border-top: solid 1px rgba(255, 255, 255, 0.343);
    position: relative;
    color: white;
    border-radius: 0 0 0 4rem;
    display: grid;
    grid-template-rows: 16rem minmax(0,1fr);
        min-height: 0;

}
.notifSide::after{
    top: 0;
    content: '';
    height: 3rem;
    width: 3rem;
    background-color: orange;
    position: absolute;
    right: 0;
    border-radius: 0 0 0 4rem;
}
.notifBody{
    display: grid;
    grid-template-columns: auto 16rem;
    min-height: 0;
}
.descHead{
    display: grid;
    grid-template-rows: auto minmax(0,1fr);
    padding: 0 1.6rem 2rem;
    justify-content: end;
    align-items: end;
        min-height: 0;

}
.descHead h2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.descCont p{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.523);
}
.descCont{
    max-height: 100%;
    scrollbar-width: none;
    height: fit-content;
    overflow-y: scroll;
}
.dataNotifRes{
    display: grid;
    grid-template-rows: auto minmax(0,1fr);
    
}
.dataNotifRes section{
    height: 100%;
    border: solid 1px red;
    overflow-y: scroll;
}

.viewore{
    display: flex;
    justify-content: end;
}
.dataNotifRes a{
    width: fit-content;
    padding: .4rem 1rem;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    text-align: end;
    font-weight: 0;
    margin-bottom: .4rem;
}
.dataNotifRes a:hover{
    color: rgb(0, 149, 255);
    text-decoration: underline;
}

.dataNotifRes{
    padding: 0 1.7rem;
}


.dataDesc {
    min-height: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;    
    scrollbar-width: none;
    height: 85%;
}

.dataDesc ol{
    padding: .5rem;
    width: 100%;
    height: 4rem;
    border: solid 1px rgba(255, 255, 255, 0.313);
}

.wrapNotifD{
    min-width: 0;
    display: grid;
    grid-template-rows: auto minmax(0,1fr);
}

.headNotifData{
    display: flex;
    justify-content: start;
    gap: 1rem;
    scrollbar-width: none;
    overflow-x: scroll;
    padding-right: 4rem;
}

.headNotifData ol{
    display: grid;
    place-items: center;
    cursor: pointer;
}
.headNotifData ol li:nth-child(1){
    height: 2.5rem;
    display: grid;
    place-items: center;
    width: 2.5rem;
    border-radius: 50%;
    color: white;
    background-color: #132127;
}
.headNotifData li i{
    font-size: 1.3rem;
}
.headNotifData ol p{
    font-size: .8rem;
}
.headNotifData li{
    list-style: none;
}
.notifBodyCont h2{
    margin: 0 0 2.5rem;
}
.notifBodyCont{
    padding: 5rem 5rem 1rem 5rem;
}
.hv{
    scrollbar-width: thin !important;
}
.bodyNotifData{
    margin-top: 1.5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    scrollbar-width: none;
}
.bodyNotifData ol{
    border-radius: .5rem;
    width: 100%;
    height: 3rem;
    border: solid 1px rgba(0, 0, 0, 0.417);
}

 