.youthHead {
    background-color: #132127;
    position: relative;
    height: 23rem;
    border-radius: 0 0 1rem 1rem;
    color: white;
    display: grid;
    grid-template-rows: 5rem minmax(0, 1fr);
    transition: .3s;
    overflow-y: hidden;
    z-index: 1;
}

/* body #side #youthLink{
    color: orange;               
} */
.youthBody {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    transition: .3s;
    position: relative;
}

.tabButton {
    /* position: absolute; */
    height: fit-content;
    gap: .8rem;
    /* top: 6rem; */
    /* left: 2.2rem; */
    /* transform: translate(-50%, -50%); */
    display: flex;
    margin-left: 2rem;
    padding-top: 2rem;
}

.tabButton li {
    height: fit-content;
    width: fit-content;
    position: relative;
    cursor: pointer;
    list-style: none;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(255 255 255 / 9%);
}

.tabButton li:hover {
    background-color: rgba(8, 131, 184, 0.735);
    color: white;

}

.unsetAction i {
    display: none;
}

.default {
    gap: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.tabButton li p {
    position: absolute;
    color: rgb(185, 185, 185);
    text-wrap: nowrap;
    left: 2.5rem;
    bottom: -2rem;
    font-size: .8rem;
    transform: translate(-50%, -50%);
    width: 5rem;
    display: none;
    animation-name: ptab;
    animation-iteration-count: 1;
    animation-duration: .3s;
}

@keyframes ptab {
    0% {
        opacity: 50%;
        left: 4rem;
    }
}

.tabButton li:hover p {
    display: flex;
}

.tabButton li i {
    height: 1rem;
    width: 1rem;
    text-align: center;
    color: #ffffff63;

}

.tabButton .onTab {
    background-color: rgba(8, 131, 184, 0.306);
    border: solid 1px rgba(255, 255, 255, 0.377);
}

.tabButton .onTab i {
    color: white;
}

.youthHead h4 {
    color: white;
}

.ysklogo {
    height: 8rem;
    animation-name: logoIn;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

@keyframes logoIn {
    0% {
        filter: saturate(1000);
        opacity: 0;
        transform: translateX(2rem) rotate(18deg);
    }
}

.searchYouth li {
    list-style: none;
    position: relative;
    color: black;
}

.searchYouth li i {
    position: absolute;
    top: 50%;
    left: 1.8rem;
    transform: translate(-50%, -50%);
    border-right: solid 1px;
    width: 1.5rem;
}

.searchYouth li input {
    padding: 0 1rem 0 3rem;
    height: 2.5rem;
    border-radius: 5rem;
    width: 12rem;
    border: solid 1px;
}

.searchYouth li input:focus {
    outline: solid 2px rgba(58, 150, 220, 0.898);

}

.add {
    position: relative;
}

.viewBody,
.add {
    width: 100%;
    height: 100%;

}

/* .add button {
    cursor: pointer;
    height: 8rem;
    width: 8rem;
    border: dashed 1px rgb(255, 255, 255);
    background-color: rgba(8, 131, 184, 0.344);
    border-radius: .4rem;
} */

.add button i {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.49);
}

/* .add button:hover {
    background-color: rgba(8, 131, 184, 0.735);
    transition: .1s;
} */

.add button:hover i {
    transform: rotate(90deg);
    transition: .2s;
    color: white;
}

.add button h4 {
    color: rgba(255, 255, 255, 0.49);
    font-size: 1rem;
    margin-top: .5rem;
}

.add button:hover h4 {
    color: white;

}

.action {
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
    /* padding-top: 3rem; */
}

.action ol>* {
    animation-iteration-count: 1;
    animation-duration: .6s;
}

.action ol {
    display: flex;
    justify-content: center;
    gap: 3rem;

}

.action ol>*:nth-child(1) {
    animation-name: inAction1;

}

.action ol>*:nth-child(2) {
    animation-name: inAction2;


}

.action ol>*:nth-child(3) {
    animation-name: inAction3;
    /* transform: translate(-2.3rem, 8rem); */
}

@keyframes inAction1 {
    0% {
        transform: translate(2.3rem, 8rem);
    }

    40% {
        transform: translate(-2.5rem, 4rem);

    }
}

@keyframes inAction2 {
    0% {
        transform: translateY(8rem);
    }
}

@keyframes inAction3 {
    0% {
        transform: translate(2.3rem, 8rem);
    }

    40% {
        transform: translate(2.5rem, 4rem);

    }
}

.action li {
    list-style: none;
    padding: 1rem;
    color: white;
    border-radius: 5rem;
    border: solid 1px rgba(255, 255, 255, 0.377);
    cursor: pointer;
    position: relative;
}

.action .mod {
    background-color: rgba(22, 79, 122, 0.485);
}

.action .del {
    background-color: rgba(122, 22, 22, 0.441);
}


.action .view {
    background-color: rgb(22, 122, 117);
    z-index: 1;
}

.selectedAction,
.action li:hover {
    transform: translateY(-1rem);
}

.action li::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.action .mod::before {
    background-color: rgba(22, 79, 122, 0.485);

}

.action .del::before {
    background-color: rgba(122, 22, 22, 0.441);

}

.action .view::before {
    background-color: rgba(22, 122, 117, 0.215);

}

.action .mod:hover {
    background-color: rgba(22, 79, 122, 0.898);
    border-radius: 50%;
    transition: .2s;
}

.action .del:hover {
    background-color: rgba(122, 22, 22, 0.953);
    transition: .2s;
    border-radius: 50%;
}

.action .selectedAction::before {
    height: 6rem;
    width: 6rem;
}

.action li:hover::before {
    height: 6rem;
    width: 6rem;
}

.action .view:hover {
    background-color: rgba(22, 122, 117, 0.949);
    border-radius: 50%;
    transition: .2s;
}

.action li i {
    position: relative;
    text-align: center;
    width: 1rem;
    height: 1rem;

}

.action h4 {
    transform: translateY(-4rem);
    font-size: .9rem;
}

.stepsHeader {
    width: 100%;


}

.steps {
    display: grid;
    grid-template-columns: 2rem 17% 2rem 17% 2rem 17% 2rem 17% 2rem;
    justify-content: center;
}

.steps ol {
    cursor: pointer;
    height: 2rem;
    display: grid;
    place-items: center;
    width: 2rem;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    border: solid 1px #d4d4d4;
    background-color: #163a4b;
    position: relative;
}

.line {
    /* display: flex; */
    width: 100%;
    justify-content: center;
    position: relative;
}

.line li {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    height: .28rem;
    border-radius: 4rem;
    border: solid 1px rgba(255, 255, 255, 0.192);
}

.line li p {
    height: 100%;
    width: 0;
    background-color: rgba(3, 184, 255, 0.61);
    border-radius: 4rem;
    transition: .2s;
}

.line li .onStepLine {
    width: 100%;
}



.steps .onStep {
    background-color: rgba(3, 184, 255, 0.61);
}

.steps ol::before {
    position: absolute;
    text-wrap: nowrap;
    font-weight: 100;
    font-size: .8rem;
    bottom: -1.5rem;
}

.step1::before {
    content: 'Basic Info.';
}

.step2::before {
    content: 'Member Info.';
}

.step3::before {
    content: 'Educ. Bg.';
}

.step4::before {
    content: 'Civic Involvement';
}

.step5::before {
    content: 'Finish-up';
}



textarea,
select,
.formBody input {
    padding: 0 1rem 0 1rem;
    background-color: #163a4b;
    outline: solid 1px rgba(255, 255, 255, 0.192);
    border-radius: .6rem;
    height: 2.4rem;
    color: white;
    border: none;
}

textarea:focus,
select:focus,
.formBody input:focus {
    outline: solid 1px rgba(58, 150, 220, 0.898);
}

.formBody label {
    font-size: .8rem;
}

.formBody {
    height: 100%;
}

.daterange>*,
.HeaderC>*,
.ssSec>*,
.formBodyInner>*>*>*>* {
    display: grid;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: .2rem;
}

.daterange {
    gap: 1rem;
}

.daterange input {
    width: 8.5rem;
}

.showContent>* {
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 4rem;
}

.formBodyInner>* {
    animation-name: fstep;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes fstep {
    0% {
        opacity: 0;
    }
}

.stepsHeader h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.stepsHeader h2 i {
    transform: rotate(20deg);
}


.add {
    display: grid;
    grid-template-rows: 10rem minmax(0, 1fr);
    padding-bottom: 8rem;
}

.actionStepper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    width: 100%;

}

.actionStepper button i {
    font-size: .9rem;
    color: white;
}

.actionStepper button {
    width: 6rem;
    padding: .5rem 1.5rem;
    gap: 50%;
    border-radius: .8rem;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.322);
    cursor: pointer;
}

.actionStepper button:nth-child(1) {
    background-color: #424242;
}

.actionStepper button:nth-child(2) {
    background-color: rgba(8, 131, 184, 0.735);

}

.actionStepper button:nth-child(1):hover {
    background-color: #42424269;
}

.actionStepper button:nth-child(2):hover {
    background-color: rgba(8, 131, 184, 0.253);
}

.formBodyInner>* {
    display: none;
}

.showContent {
    display: block;
}

.youthHeadOpen .youthHead {
    height: 100%;
    min-height: 23rem;
    max-height: 54rem;

}

.ybodyHeader {
    display: grid;
    gap: .8rem;
    position: relative;

}

.responseAction {
    display: flex;
    color: white;
    background-color: #132127;
    padding: .6rem 1rem;
    border-radius: .6rem;
    border: solid 1px rgba(0, 0, 0, 0.501);
    right: 2rem;
    gap: .4rem;
    position: absolute;
    align-items: center;
    font-size: .8rem;
    animation: res .3s ease-out 0s 1;
    top: 0;
}

@keyframes res {
    0% {
        opacity: 0%;
        top: 40%;
    }
}

.responseAction i {
    font-size: .6rem;
    height: 1.2rem;
    width: 1.2rem;
    background-color: green;
    color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;

}

.ybodyHeader .resultSearchCount {
    font-size: .8rem;
    color: rgb(0, 0, 0);
}

.ybodyHeader .resultSearchCount span {
    font-style: italic;
    font-weight: 700;
}

.ybodyHeader {
    padding: 0 3rem;
    margin-top: 3rem;

}

.ybodyHeader .hres {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ybodyHeader .hres .surt:hover {
    cursor: pointer;
}

.ybodyHeader .hres .surt:hover i {
    transform: translateX(-.5rem);
    transition: .3s;
}

.ybodyHeader .hres li {
    font-size: .8rem;
}

.formBodyInner,
.formBodyInner>*,
.formBody .wform {
    height: 100%;
}



.ssSec {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.formBody label,
.formBody label {
    margin-bottom: .2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

#age {
    width: 6rem;
}

.ssSec select {
    width: 8rem;
}

.secondSection,
.firstSection {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.sCont,
.fCont {
    margin-top: 3rem;
}

.textAdr select,
.textAdr {
    width: 100%;
    display: unset;
}

.youthHead .skillsList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: .4rem;
}

.skillsList ol {

    display: grid;
    grid-template-columns: 1rem auto 1rem;
    width: 85%;
}

.skillsList li {
    font-size: .8rem;
}

.skillsList li {
    list-style: none;
}
.addCivic .clean2{
    left: 5rem;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: -1rem;
}
.addCivic{
    position: relative;
}
.civicCont{
    scrollbar-width: thin;
    scrollbar-color: #b8c9d1 transparent  ;
    scrollbar-gutter: stable both-edges;
    padding: 0 10% 8rem 10% !important;
    position: relative;
    height: 16rem;
    overflow-y: auto;
    overflow-x:hidden ;
}

.skillsList i:hover {
    cursor: pointer;
    color: rgb(148, 23, 23);
}

.sCont {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: 100%;
}
.skillsL{
        display: flex
;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}
.skillsL p{
    width: 50%;
    text-wrap: wrap;
}
.sCont section {
    width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sCont select,
.sCont .formBody input {
    width: 100%;
}

.sCont section>* {
    justify-content: stretch;
    width: 100%;
}

#hh,
#wh {
    width: 6rem;
}

.skl input {
    padding: 0 3.5rem 0 1rem;
    width: 100%;
}

.skl {
    position: relative;
}

.skl i:hover {
    color: #b7b7b7;
    cursor: pointer;
}

.skl i {
    display: block;
    border-left: solid 1px white;
    padding: .8rem;
    position: absolute;
    top: 2.4rem;
    right: -1rem;
    transform: translate(-50%, -50%);
}

.sCont textarea {
    padding: .6rem 1rem 0 1rem;
    min-width: 13rem;
    min-height: 2.4rem;
    max-width: 13rem;
    max-height: 4rem;
}

.sCont textarea::placeholder {
    position: absolute;
    top: .6rem;
}

.educbgCont {
    grid-template-columns: 9rem 12rem 9rem 7rem;
}

.civicCont {
    grid-template-columns: 9rem 12rem 6rem 6rem 7.5rem;
}

.civicCont,
.educbgCont {
    display: grid;
    padding: 0 10% 0 10%;
    width: 100%;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
    gap: 1rem;
}

.civicCont ol,
.educbgCont ol {
    display: grid;
    gap: 1rem;
}

.civicCont ol li,
.educbgCont ol li {
    font-size: .7rem;
}

.civicCont ol li:nth-child(1),
.educbgCont ol li:nth-child(1) {
    font-size: .75rem;
    font-weight: 600;
}

.civicCont li,
.educbgCont li {
    list-style: none;
}

.frtCont,
.tCont {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.HeaderC {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: start;
}

#poa,
#yg {
    width: 10rem;
}

.addCivic,
.addEducBg {
    margin-top: 3rem;
    width: 100%;
}

.addCivic button,
.addEducBg button {
    padding: .6rem 3rem;
    border-radius: 1rem;
    color: white;
    background-color: rgba(22, 79, 122, 0.898);
    border: none;
    outline: solid 1px rgba(255, 255, 255, 0.503);
    transition: .3s;

}

.addCivic button,
.addCivic button {
    width: 8rem;
}


.addCivic button:hover,
.addEducBg button:hover {
    cursor: pointer;
    background-color: rgba(22, 79, 122, 0.384);

}

.addCivic button i {
    font-size: .8rem;
}

body .op {
    opacity: 50%;
    cursor: default;
    background-color: #424242 !important;
}



.error {
    color: #b72525;
    font-size: .8rem;
    margin-top: .2rem;
}

.progressOn {
    display: block;
}

.progress p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.clean2,
.clean {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.clean2 button,
.clean button {
    background-color: #424242;
    color: white;
    padding: .4rem 2rem;
    border-radius: .6rem;
    border: none;
    outline: solid 1px rgba(255, 255, 255, 0.448);
    cursor: pointer;
}

.clean2 button:hover,
.clean button:hover {
    background-color: #42424271;

}

.clrG2,
.clrG {
    display: none;
}

.fin {
    width: 60%;
    display: grid;
    align-items: start;
}

.laststep>* {
    padding-bottom: 2rem;
}

.laststep h3 {
    margin-bottom: .2rem;
}

.laststep li {
    padding-left: 1rem;
    list-style: none;
}

.laststep {
    margin-top: 2rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.laststep p {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.512);
}

.expand {
    display: grid;
    place-items: center;
    width: 100% !important;
}

.expand ol {
    width: 100%;
}

.expand ol li:nth-child(1) {
    text-wrap: nowrap;
}

.expand ol p {
    padding-left: 1rem;
}

.ybodyHeader {
    flex-shrink: 0;
}

.portalManageBody,
.youthList {
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    padding-bottom: 6rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    margin-top: 1rem;
    overflow-y: auto;
}

.youthList .information {
    overflow: hidden;
    display: none;
    color: white;
    background-color: #132127;
    outline: none;
    animation: infoview .5s ease-in-out 0s 1;
    height: 0;
}

.youthList .information .infoHead {
    justify-content: center;
    text-align: center;
}

.youthList .hideSkill {
    display: none;
}

@keyframes infoview {
    0% {
        height: 0;
        outline: none;
    }
}

.ivSh {
    padding: 1rem;
}
.youthList .infoView .skills_list{
    display: none;   
}
.youthList .infoView .information{
    display: block;
    height: 32rem;
    outline: solid 1px rgba(255, 255, 255, 0.362);
}


.youthList ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portalManageBody ol ul,
.youthBody ol ul {
    display: flex;
    background-color: white;
    padding: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.631);
    border-radius: .8rem;
    position: relative;
    max-width: 60%;
    min-width: fit-content;
    width: 100%;
    justify-content: center;

}

.portalManageBody ol ul section>*:nth-child(3) p,
.youthBody ol ul section>*:nth-child(3) p {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.portalManageBody ol ul section,
.youthBody ol ul section {
    grid-template-columns: min-content 1rem 10rem 2rem 2rem 4.5rem 4.5rem 11rem;
    display: grid;
    align-items: center;
    gap: 1rem;
}

.portalManageBody ol ul li,
.youthBody ol ul li {
    font-size: .7rem;
    list-style: none;
}

.portalManageBody ol ul li>*:nth-child(1),
.youthBody ol ul li>*:nth-child(1) {
    font-weight: 600;
    margin-bottom: .2rem;
}

.prk {
    width: 8rem;
}

.skills_list {
    overflow: hidden;
    width: 13rem;
    height: 100%;
    color: white;
    background-color: #132127;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 1rem .8rem .8rem 4rem;
    padding-left: 1.5rem;
    padding-top: .6rem;
    align-items: start;
    display: flex;
    flex-direction: column;

}

.skills_list h4 {
    color: rgb(255, 177, 32);
}

.skills_list p {
    font-size: .8rem;
    color: rgb(183, 183, 183);
}



.youthList ul {
    transition: .2s;
}

.youthList section div i:hover {
    transform: scale(1.1);
    transition: .3s;
}

.youthList section div .fa-pen {
    color: rgb(0 79 139);
}

.youthList section div .fa-trash {
    color: red;
}

.youthList section div .fa-info {
    color: rgb(0 159 151);
}

.akika {
    color: white;
}


#youths {
    display: grid;
    grid-template-rows: 23rem minmax(0, 1fr) 1rem;
    height: 100vh;
    overflow-y: hidden;
}

.youthHeadOpen {
    grid-template-rows: auto minmax(0, 1fr) 1rem !important;

}

.youthList section div i {
    width: 2rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    display: none;
    animation-name: itag;
    animation-iteration-count: 1;
    animation-duration: .3s;
}

@keyframes itag {
    0% {
        opacity: 0;
    }
}

#youths .modAction .fa-pen,
#youths .delAction .fa-trash,
#youths .viewAction .fa-info {
    display: block;
}

.resSubmit {
    padding-bottom: 2rem;
    height: 100%;
}

.resSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.resSubmit .fa-thumbs-up {
    font-size: 1.5rem;
    color: rgb(12, 185, 12);
    animation-name: tsuc;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

@keyframes tsuc {
    0% {
        transform: rotate(-45deg);
    }
}

.resSubmit .linksg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    transform: translateY(2rem);
}

.resSubmit button {
    position: relative;
    width: 6rem;
    padding: .6rem 0;
    font-size: .7rem;
    border: none;
    outline: solid 1px rgba(255, 255, 255, 0.401);
    border-radius: .4rem;
    cursor: pointer;
    color: white;
    transition: .3s;
    animation-duration: .4s;
    animation-iteration-count: 1;
}

.resSubmit button:nth-child(1) {
    animation-name: reslastL;
}

.resSubmit button:nth-child(2) {
    animation-name: reslastR;
}

@keyframes reslastL {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }
}

@keyframes reslastR {
    0% {
        opacity: 0;
        transform: translateX(2rem);
    }
}

.resSubmit p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: relative;
    animation-name: resmsg;
    animation-duration: .4s;
    animation-iteration-count: 1;
}

@keyframes resmsg {
    0% {
        opacity: 0;
    }
}

.resSubmit .spt {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    background-color: #dc2c2c;
    border-radius: 50%;
}

.failed::after {
    content: "Something went wrong.";
    position: absolute;
    font-size: .75rem;
    bottom: -1.5rem;
}

.resSubmit .fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    color: rgb(255, 255, 255);
}

.resSubmit .findY {
    background-color: #132127;
}

.resSubmit .findY:hover {
    background-color: #163a4b;
}

.resSubmit .adgain:hover {
    background-color: #132127;
}

.resSubmit .adgain {
    background-color: #163a4b;
}

.noSeacrch {
    visibility: hidden;
}

.nxtPage button {
    height: 3rem;
    width: 8rem;
    background: none;
    border: none;
    cursor: pointer;
}

.nxtPage button:hover {
    animation: loadMore .6s ease-in-out 0s infinite;
}

.nxtPage button:hover .fa-arrow-left {
    animation: leftLoad .6s ease-in-out 0s infinite;
}

.nxtPage button:hover .fa-arrow-right {
    animation: righttLoad .6s ease-in-out 0s infinite;
}

.nxtPage {
    font-size: .8rem;
}

@keyframes loadMore {
    0% {
        opacity: 50%;
    }
}

@keyframes leftLoad {
    0% {
        transform: translateX(-2rem);
    }
}

@keyframes righttLoad {
    0% {
        transform: translateX(2rem);
    }
}

.sfor {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
}

.isloadOp {
    display: none;
}

.sortBy {
    color: blue;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    width: fit-content !important;
    height: fit-content;
    background: none;
    color: black;
    outline: none !important;
    padding: 10px;
}

#youths .editMode{
    background-color: #000000;
    outline: solid 1px rgba(255, 255, 255, 0.351);
    opacity: 100% !important;
    cursor: default;
}

@media screen and (max-width:611px) {

    .portalManageBody,
    .youthList {
        padding: 02rem;
        align-items: start;
    }
}

@media screen and (max-width:1048px) {

    .portalManageBody .prk,
    .youthBody .prk {
        display: none;
    }
}

@media screen and (max-width:817px) {

    .civicCont,
    .educbgCont {
        grid-template-columns: 50% 50%;

    }
}

@media screen and (max-width:981px) {

    .youthBody ol ul section {
        grid-template-columns: min-content 1rem 10rem 2rem 2rem 4.5rem 4.5rem;
    }

    .prk {
        display: none;
    }

    .portalManageBody .skills_list,
    .youthBody .skills_list {
        bottom: -3rem;
        height: 3.7rem;
    }

    .portalManageBody,
    .youthList {
        gap: 3.7rem;
    }
}