* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
      scrollbar-width: none;
}
li {
    list-style: none;
}
.contents {
  height: 100vh;
}

/* #root{
  overflow-y: hidden;
} */
body {
  font-family: sans-serif;
}

#side {
  background-color: #132127;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  border-right: solid 1px #126a7582;
}

#side .port,
#side a {
  color: white;
  position: relative;
  z-index: 1;
}

main {
  display: grid;
  grid-template-columns: 12rem auto;
}

.logo {
  color: white;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.logo p {
  color: rgb(3, 184, 255);

}

.headside {
  margin-top: 4rem;
}

.logo img {
  width: 4rem;
}

.logo> :nth-child(1) {
  width: fit-content;
}

.logo> :nth-child(2) {
  margin-top: 1rem;
}

#side a {
  text-decoration: none;

}


.links_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.links_cont i {
  font-size: .8rem;
  margin-right: .3rem;
}

.links_cont #port ,
.links_cont a {
  color: white;
  width: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  text-decoration: none;
}
.portalType .onLoc p,
.portalType .onLoc i,
.onLoc > *:nth-child(1){
  color: orange !important;

}

.links_cont #port:hover ,
#side .port:hover,
.links_cont a:hover > *:nth-child(1) {
  color: orange;
}

.links_cont li {
  width: 5.5rem;
  height: 2rem;
  display: grid;
  grid-template-columns: 1.5rem max-content;
  place-items: center;
}

.links_cont p {
  font-size: .8rem;
}

.userpic img {
  height: 2.5rem;
  border-radius: 50%;

}
.errorInput {
    outline-color: #b72525 !important;
}
.userpic {
  color: white;

  display: flex;
  gap: .6rem;
  justify-content: center;
}

.footside {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.footside a {
  margin-bottom: 1rem;
}

.wraplink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name p {
  color: rgb(3, 184, 255);
}

.logo p {
  font-size: .9rem;
}

.f,
.s {
  position: absolute;
  height: 2rem;
  width: 23rem;
  background-color: rgba(3, 184, 255, 0.108);
  border: solid 1px rgba(3, 184, 255, 0.476);
  left: -6rem;
  transform: rotate(-45deg);
}

.f {
  top: 40%;
}

.s {
  top: 50%;
}

#navlinks_cont {
  overflow-x: hidden;
  position: relative;
}

#overview {
  height: 100%;
  position: relative;
}

#prev {
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* main{
  grid-template-columns: 5rem auto;
}

.links_cont li{
  width: unset;
}
.lilside{
  display: none;
} */
.portalType{
  padding-left: 2rem;
}
.portalType li i,
.portalType li p{
  color: rgba(255, 255, 255, 0.72);
  font-size: .75rem;
}
/* #p1 .onLoc li i,
#p2 .onLoc li p{
  color: orange;
} */
.portalOpen{
  position: relative;
}
#port:hover .fa-angle-right{
  display: block;
  transform: translateX(1rem);
}

.portalType a:hover li i,
.portalType a:hover li p{
  color: orange;
}
.portalOpen .fa-angle-right{
  position: absolute;
  right: 0;
  display: none;
}
.typeOpen{
  display: none;
}







@media screen and (max-width:755px) {
  main {
    grid-template-columns: 5rem auto;
  }

  .links_cont li {
    width: unset;
  }

  .lilside {
    display: none;
  }
}